// TWAIN Data Source Resource File
#include <windows.h>

// Version information
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3F
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "BN Tech"
            VALUE "FileDescription", "BN Tech Virtual Scanner - TWAIN 1.9 Flatbed Data Source"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "bntech_virtual_scanner"
            VALUE "LegalCopyright", "Copyright (C) Ning Ge<tandge@gmail.com>"
            VALUE "OriginalFilename", "bntech_virtual_scanner.ds"
            VALUE "ProductName", "BN Tech Virtual Scanner"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
